header {
    background-color: #124491;
    display: flex;
    align-items: center;  
    justify-content: space-between;
    padding: 10px 10px;
    color: white;
}


.Buscarh1{
    color: #124491;
    text-align: center;
    margin:20px auto;
}

.Cadastrarh1{
    color: #124491;
    text-align: center;
    margin:20px auto;
}

.Transferirh1{
    color: #124491;
    text-align: center;
    margin:20px auto;

}

.main{
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap; /* Permite quebrar linha se a tela for pequena */
}

.buscarPatrimonio{
    color: #124491;
    text-align: center;
}

.linhaPatrimonio {
    display: flex;
    gap: 16px;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.cabecalho {
    font-weight: bold;
    color: #124491;
    text-align: center;
    font-size: 20px; 
    margin: 0 auto;
    margin-bottom: 10px;

}

.PatrimoniosH2{
    font-size: 35px; 
    color: #124491;
    text-align: center;
    margin: 35px;
    margin-top: 50px;
}

.tabelaPatrimonios {
    margin: 30px auto;
    width: 80%;
    font-family: Arial, sans-serif;
    text-align: center;
}

.coluna {
    width: 150px;
    color: #124491;
    margin: 0 auto;
    font-size: 17px; 
}

input, button {
    padding: 8px;
    border: 1.3px solid #d3d0d0;
    border-radius: 4px;
}

input:focus{
    border-color:  #124491;
    outline: none;
}
.buttonImg{
    height: 17px;
}
.button{
    height: 34px ;
}
.HeaderButton {
    background-color: #124491;
    color: aliceblue;
    border: none;
}
.main{
    align-items: center;
}
nav{
    display: flex;
    margin-left: auto;
    display: flex;
}

.ControlePatrimonial {
    display: flex;
    text-align: left;
    color: aliceblue;
    align-items: center;  
    font-size: 100%;
}